@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

main {
  display: grid;
}

.section-container {
  margin-bottom: 15px;
}

.gen-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.generate-btn {
  border: none;
  padding: 10px;
  background-color: rgb(42, 165, 122);
  color: white;
  font-weight: 600;
}

.generate-btn:hover {
  cursor: pointer;
  background-color: rgba(42, 165, 122, 0.864);
  color: white;
}

.trial-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(119, 119, 255);
  justify-items: center;
}

.color-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.color-item {
  width: 50px;
  border: 2px solid black;
  padding: 100px;
}

.color-item:hover {
  cursor: pointer;
}
